*,*::before, *::after {
    box-sizing: border-box;
    font-family: Garamond Bold;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: mistyrose;
}


header {
    width: 800px;
    height: 100px;
    z-index: 10;
    display: float;
    position: absolute;
    top:0;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 3px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover {
    background-color: lightskyblue;
}

.btn.correct {
    background-color: lightgreen;
}

.btn.wrong {
    background-color: tomato;
}

.start-btn, .next-btn {
    font-size: medium;
    font-weight: bold;
    padding: 5px 20px;
    margin: 2px 5px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}